*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
  
    color: white;
}


/*Menu*/
div#menu{
    background-color: black;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    z-index: 1;
}

#button-menu1, #button-menu2, #button-menu3, #button-menu4{
    background-color: black;

    border-color: rgb(131, 128, 128);
    border-width: 1px;

    color: rgb(190, 188, 188);
    font-size: 18px;

    cursor: pointer;

    margin-top: 2%;
}
#button-menu1:hover, #button-menu2:hover, #button-menu3:hover, #button-menu4:hover{
    background-color: rgb(51, 51, 51);

}
input#button-menu1{
    margin-left: 5%;
    margin-right: 15%;
}
input#button-menu2{
    margin-right: 15%;
}
input#button-menu3, input#button-menu4{
    float: right;
}
input#button-menu3{
    margin-right: 5%;
}
input#button-menu4{
    margin-right: 15%;
}
h1#NAME{
    position: absolute;
    margin-left: 42%;
    margin-top: -2%;
}
