*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
  
    color: white;
}


/*Menu*/
div#menu{
    background-color: black;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    z-index: 1;
}

#button-menu1, #button-menu2, #button-menu3, #button-menu4{
    background-color: black;

    border-color: rgb(131, 128, 128);
    border-width: 1px;

    color: rgb(190, 188, 188);
    font-size: 18px;

    cursor: pointer;

    margin-top: 2%;
}
#button-menu1:hover, #button-menu2:hover, #button-menu3:hover, #button-menu4:hover{
    background-color: rgb(51, 51, 51);

}
input#button-menu1{
    margin-left: 5%;
    margin-right: 15%;
}
input#button-menu2{
    margin-right: 15%;
}
input#button-menu3, input#button-menu4{
    float: right;
}
input#button-menu3{
    margin-right: 5%;
}
input#button-menu4{
    margin-right: 15%;
}
h1#NAME{
    position: absolute;
    margin-left: 42%;
    margin-top: -2%;
}

/* info */
div#info{
    color: rgb(0, 0, 0);
    margin-top: 20%;
    position: relative;
    height: 100%;
    width: 100%;

}
div#info>div{
    height: 40px;
    width: 250px;
    
    margin-left: 7%;
    padding: 10px;
    
    background-color: rgba(68, 68, 68, 0.6);   
    color: white;
    
    text-align: center;
}

/* info maternal */
div#info-maternal{
    float: left;
    margin-right: 10%;
    transition: width 1s, height 2s;
}
div#info-maternal>h2{
    transition: font-size 5s;
}
div#info-maternal>p{
    opacity: 0;
    transition: opacity 2s;
}

/* info fundamental */
div#info-fundamental{
    float: left;
    margin-right: 10%;    
    transition: width 1s, height 2s;
}
div#info-fundamental>h2{
    transition: font-size 5s;
}
div#info-fundamental>p{
    opacity: 0;
    transition: opacity 2s;
}

/* info medio */
div#info-medio{
    float: left;
    margin-right: 10%;
    transition: width 1s, height 2s;
}
div#info-medio>h2{
    transition: font-size 5s;
}
div#info-medio>p{
    opacity: 0;
    transition: opacity 2s;
}

/* footer */
footer{
    background-color: black;
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 0px;
    text-align: center;
}

div#footer-info{
    padding-top: 2%;
}
#footer-info>img{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 45%;
    
}
#footer-info>p{
    float: right;
    margin-right: 45%;
    
}

@media screen and (max-width: 1310px) and (min-width: 975px){
    h1#NAME{
        color: rgb(0, 255, 170);
    }

    div#info>div{
        height: 40px;
        width: 250px;
        margin-left: 5%;
        margin-right: 2%;
    }

    /* footer */

    #footer-info>img{
        margin-left: 41%;    
    }
    #footer-info>p{
        margin-right: 45%;
    }
}

/* Celular */
@media screen and (max-width: 400px){   

    /* Menu */
    div#menu{
        height: 110px;
    }
    h1#NAME{
        font-size: 20px;
        top: 20px;
        left: 15px;
    }

    /* Botões */
    div#options>button{
        margin: 0px;
    }
    input#button-menu1{
        margin: 0px;
        float: left;
    }
    input#button-menu2{
        margin: 0px;
        float: left;
        margin-top: 28px;
        margin-left: -69px;
    }
    input#button-menu3{
        margin: 0px;    
        float: left;
        margin-top: 54px;
        margin-left: -110px;
    }
    input#button-menu4{
        margin: 0px;
        float: left;
        margin-top: 80px;
        margin-left: -110px;
    }

    /* info */
    
}