*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
  
    color: white;
}


/*Menu*/
div#menu{
    background-color: black;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    z-index: 1;
}

#button-menu1, #button-menu2, #button-menu3, #button-menu4{
    background-color: black;

    border-color: rgb(131, 128, 128);
    border-width: 1px;

    color: rgb(190, 188, 188);
    font-size: 18px;

    cursor: pointer;

    margin-top: 2%;
}
#button-menu1:hover, #button-menu2:hover, #button-menu3:hover, #button-menu4:hover{
    background-color: rgb(51, 51, 51);
}
input#button-menu1{
    margin-left: 5%;
    margin-right: 15%;
}
input#button-menu2{
    margin-right: 15%;
}
input#button-menu3, input#button-menu4{
    float: right;
}
input#button-menu3{
    margin-right: 5%;
}
input#button-menu4{
    margin-right: 15%;
}
h1#NAME{
    position: absolute;
    margin-left: 42%;
    margin-top: -2%;
}

/* Logging */
div#logging{
    width: 200px;
    height: 200px;
    margin-top: 20%;
    margin-left: 41%;
    padding: 5px;

    border: 4px solid black;
    border-radius: 5px;

    background-color: rgb(88, 88, 88);
    color:black;
    position: absolute;
}
div#logging>p{
    width: calc(100% + 10px);    
    padding: 5px;
    margin-left: -5px;
    margin-top: -5px;

    text-shadow: 2px 2px 1px #575656;
    border-bottom: 3px solid black;

    text-align: center;
    background-color: #464545;
}
input#button-logging{
    width: 70px;
    height: 35px;
    margin-left: 33%;
    margin-top: 30px;

    border-radius: 8px;

    color: white;
    background-color: #464545;
}
input#button-logging:hover{
    background-color: #2e2d2d;
    cursor: pointer;
}