*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
  
    color: white;
}

/*Menu*/
div#menu{
    background-color: rgb(14, 13, 13);
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    z-index: 1;
}

div#options input{
    background-color: rgb(41, 41, 41);
    padding: 2px;
    color: rgb(190, 188, 188);
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 5% 0% 0% 1%;
}

div#options input:hover{
    background-color: rgb(73, 73, 73);
}

h1#NAME{
    position: absolute;
    margin: 2% 45%;
}


/* info */
div#info{
    color: rgb(0, 0, 0);
    margin-top: 100px;
    position: relative;
    height: 500px;

    text-align: center;

    background-image: url("../images/escola.png");
    background-position: bottom;
    background-repeat: no-repeat;   

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-attachment:fixed;	
}
div#info>div{
    height: 40px;
    width: 250px;

    margin-top: 5%;
    margin-left: 11%;
    padding: 10px;
    
    background-color: rgba(68, 68, 68, 0.6);   
    color: white;

    border-radius: 5px;

}

div#info p{
    text-align: justify;
    visibility: hidden;
}

/* info maternal */
div#info-maternal{
    float: left;
    transition: width 1s, height 2s;
}
div#info-maternal>h2{
    transition: font-size 2s;
}
div#info-maternal>p{
    opacity: 0;
    transition: opacity 2s;
}

/* info fundamental */
div#info-fundamental{
    float: left;  
    transition: width 1s, height 2s;
}
div#info-fundamental>h2{
    transition: font-size 2s;
}
div#info-fundamental>p{
    opacity: 0;
    transition: opacity 2s;
}

/* info medio */
div#info-medio{
    float: left;
    transition: width 1s, height 2s;
}
div#info-medio>h2{
    transition: font-size 2s;
}
div#info-medio>p{
    opacity: 0;
    transition: opacity 2s;
}

/* crianças felizes */
div.crianca{
    background-color: rgb(231, 231, 231);
    color: black;
    width: 100%;
    height: 608px;
    position: relative;

}


div.crianca h3{
    padding: 20px;
    font-weight: bolder;
    font-size: 2em;

}
div.crianca p{
    margin: 0;
    padding: 5px;
}

/* img_esq e info_dir*/

picture.img_crianca_esq{
    width: 400px;
    height: 200px;
    display: inline-block;
}
picture.img_crianca_esq>img{
    float: left;
    width: 100%;
    height: 100%;
}

div.info_crianca_dir{
    float: right;
    width: 60%;
    height: 200px;
}

/* info_esq e img_dir*/

picture.img_crianca_dir{
    width: 400px;
    height: 200px;
    display: inline-block;
}
picture.img_crianca_dir>img{
    float: right;
    width: 100%;
    height: 100%;
}

div.info_crianca_esq{
    float: left;
    width: 60%;
    height: 200px;
}


div.bla{
    width: 100%;
    height: 600px;
    position: relative;

    background-image: url("../images/escola2.png");
    background-position: center;
    background-repeat: no-repeat;   

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-attachment:fixed;	
}

/* footer */
footer{
    background-color: black;
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 0px;
    text-align: center;
   
}

div#footer-info{
    padding-top: 2%;
}
#footer-info>img{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 45%;
    
}
#footer-info>p{
    float: right;
    margin-right: 45%;
    
}

@media screen and (max-width: 1310px) and (min-width: 975px){
    h1#NAME{
        color: rgb(0, 255, 170);
    }

    div#info>div{
        height: 40px;
        width: 250px;
        margin-left: 5%;
        margin-right: 2%;
    }

    /* footer */

    #footer-info>img{
        margin-left: 41%;    
    }
    #footer-info>p{
        margin-right: 45%;
    }
}

/* Celular */
@media screen and (max-width: 500px){   

    /* Menu */
    div#menu{
        height: 110px;
    }
    h1#NAME{
        font-size: 20px;
        top: 20px;
        left: 15px;
    }

    /* Botões */
    div#options>button{
        margin: 0px;
    }
    input#button-menu1{
        margin: 0px;
        float: left;
        margin-left: 40px;
    }
    input#button-menu2{
        margin: 0px;
        float: left;
        margin-top: 28px;
        margin-left: -50px;
    }
    input#button-menu3{
        margin: 0px;    
        float: left;
        margin-top: 54px;
        margin-left: -98px;
    }
    input#button-menu4{
        margin: 0px;
        float: left;
        margin-top: 80px;
        margin-left: -98px;
    }

    /* info */
    
}